{% extends "base.html" %}

{% block title %}Lista de categorias{% endblock %}

{% block content %}

<body class="bg-light p-4">
    <div class="container">
        <h1 class="mb-4">Categorías</h1>
        <a href="/nueva_categoria" class="btn btn-success mb-3">➕ Nueva Categoría</a>
        <a href="/admin" class="btn btn-secondary mb-3 ms-2">🏠 Volver</a>

        <table class="table table-bordered table-hover bg-white">
            <thead class="table-dark">
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                </tr>
            </thead>
            <tbody>
                {% for categoria in categorias %}
                <tr>
                    <td>{{ categoria['id_categoria'] }}</td>
                    <td>{{ categoria['nombre'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
{% endblock %}
